:root {
    --dark-gr: #9B9B9F;
    --light-font: #EDE6D6;
    --white: #FDFDFD;
    --grey-50: #EEEEE8;
    --grey-100: #D2D2D2;
    --grey-300: #B8B8B8;
    --container-max-wight:
    --mobile: 768px;
    --tablet: 930px;
  }
  